:root {
    --menuColor:#898989;
    --menuHover: #F00;
    --searchBg: #EBEBEB;
    --searchColor: #30384C;
}

.root {
    display: flex;
    padding: 0 20px 20px 20px;
    &-menu {
        max-width: 220px;
        min-width: 220px;
        height: 100vh;
        overflow-y: scroll;
        position: fixed;
        background: #FFF;
    }
    &-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    &-list {
        display: flex;
        flex-direction: column;
        gap: 28px;
        margin-bottom: 58px;
        padding-top: 100px;
    }
    &-link {
        color: var(--menuColor);
        display: flex;
        align-items: center;
        gap: 13px;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-linkF {
        color: var(--menuColor);
        display: flex;
        align-items: center;
        gap: 13px;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        img {
            width: 26px;
            height: 26px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    &-linkF:hover {
        color: var(--menuHover);
    }
    &-link:hover {
        color: var(--menuHover);
        svg{
            path{
                fill: #F00;
                opacity: 1;
            }
        }
    }
    &-logo {
        display: flex;
        align-items: center;
        gap: 28px;
        position: fixed;
        background: #FFF;
        padding-block: 20px 10px;
    }
    &-header {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        margin-left: 220px;
        padding-top: 20px;
        position: fixed;
        background: #FFF;
        gap: 60px;
        // width: 100%;
    }
    &-case {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    &-s {
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 30px;
    }
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--searchBg);
    border-radius: 22px;
    width: 830px;
    padding: 12px 23px;
    margin-bottom: 10px;
    // position: fixed;
}

.search input{
    border: none;
    background: var(--searchBg);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: var(--searchColor);
    opacity: 0.4;
    outline: none;
}

.avatar {
    width: 40px;
    height: 40px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}